<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TwitchStitch</title>
    <link href="static/style.css" rel="stylesheet" type="text/css"/>
    
</head>
<body>
    <h1>TwitchStitch</h1>
    <form id="downloadForm">
        <label for="streamer_url">Streamer URL:</label>
        <input type="text" id="streamer_url" name="streamer_url" required>
        
        <label for="time_period">Time Period:</label>
        <select id="time_period" name="time_period">
            <option value="24 hours">24 Hours</option>
            <option value="7 days">7 Days</option>
            <option value="30 days">30 Days</option>
            <option value="all time">All Time</option>
        </select>
        
        <button type="button" onclick="startDownload()">Download</button>
    </form>

    <div id="progress"></div>
    <script src="static/script.js"></script>
</body>
</html>
